/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & JIAQI ZHANG
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(250, 250, 60);
    -fx-border-color: rgb(200, 200, 200);
    -fx-alignment: CENTER;
    -fx-spacing: 10px;
}

.file_toolbar_pane {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(250, 250, 60);
    -fx-border-color: rgb(200, 200, 200);
    -fx-hgap: 10px; 
}

.page_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(153, 255, 255);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
}

.selected_page_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255, 255, 100);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
}

.vertical_toolbar_button {
    -fx-background-color: rgb(200, 200, 190);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
}

.language_dialog {
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-background-color: rgb(255,248,141);
    -fx-vgap: 10px;
    -fx-padding: 20px 50px 20px 50px;
}

.title_pane {
    -fx-font-size: 16;
    -fx-font-family: "Arial";
}

.viewer_top_pane {
    -fx-font-size: 20;
    -fx-font-family: "Arial";
    -fx-padding: 10 10 10 10;
}

.viewer_bottom_pane {
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-padding: 10 10 10 10;
}

.workplace{
    -fx-background-color: rgb(255,248,141);
}

.title_hbox{
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-hgap: 10;
    -fx-alignment: CENTER_LEFT;
}

.page_label{
    -fx-font-size: 16;
    -fx-padding: 30 0 10 0;
    -fx-font-family: "Arial";
}

.page_editor_controls_vbox{
    -fx-background-radius: 5.0;
    -fx-background-color:#cccc00;
    -fx-alignment:CENTER_LEFT;
    -fx-spacing: 10px;
}

.mode_tab_pane{
    -fx-background-color:white;
}

.page_setting_vbox{
    -fx-padding: 5 0 5 0;
    -fx-spacing: 5;
    -fx-background-color: #c8c200;
}

.page_editor_workspace{
    -fx-width: 200%;
}